<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="PokerTestSuite" verbose="1" > <!--verbose - log volume-->

    <parameter name="usernameParameter" value="admin"/>
    <parameter name="passwordParameter" value="123"/>
    <parameter name="titleParameter" value="Players"/>
    <parameter name="playerPasswordParameter" value="pass_Word68"/>

    <test name="Login" enabled="true">
        <classes>
            <class name="tests.LoginTests">
                <methods>
                    <include name="positiveLoginTest"/>
                    <include name="negativeLoginTest"/>
                </methods>
            </class>
        </classes>
    </test>

    <test name="Create" enabled="true">
        <parameter name="positiveExpectedTitle" value="Players"/>
        <parameter name="insertNegativeExpectedTitle" value="Players - Insert"/>
        <parameter name="editNegativeExpectedTitle" value="Players - Edit"/>
        <parameter name="usernameLength" value="8"/>
        <parameter name="passwordLength" value="8"/>
        <parameter name="emailLocalLength" value="8"/>

        <classes>
            <class name="tests.CRUDUserTests">
                <!--<methods>
                    <include name="deletingPlayerDeletesPlayerFromPlayersTable"/>
                </methods>-->
            </class>
        </classes>
    </test>

    <test name="Search" enabled="true">
        <classes>
            <class name="tests.SearchTests">
            </class>
        </classes>
    </test>

</suite>